<!DOCTYPE html>
<html>
<head>
    <title>Table Example</title>
</head>
<body>
    <table>
        <tr>
            <th style="background-color: red; color: white;">Header 1</th>
            <th style="background-color: blue; color: white;">Header 2</th>
            <th style="background-color: green; color: white;">Header 3</th>
        </tr>
        <tr>
            <td style="background-color: yellow;">Data 1</td>
            <td style="background-color: orange;">Data 2</td>
            <td style="background-color: purple; color: white;">Data 3</td>
        </tr>
        <tr>
            <td style="background-color: pink;">Data 4</td>
            <td style="background-color: cyan;">Data 5</td>
            <td style="background-color: brown; color: white;">Data 6</td>
        </tr>
    </table>
</body>
</html>
