<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm">
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Login</button>
            
            <a class="textregistrasi" href="{{url_for('signup') }}">Belum punya Akun ? </a>
        </form>
        <div id="errorMessage" class="error-message"></div>
    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js";

        const firebaseConfig = {
            apiKey: "AIzaSyCCVoGqdkgIGVLnzkz1rnzhH3xGGH6b0sY",
            authDomain: "data-halaqoh.firebaseapp.com",
            projectId: "data-halaqoh",
            storageBucket: "data-halaqoh.appspot.com",
            messagingSenderId: "256908326956",
            appId: "1:256908326956:web:5e42affd9bc9b258f13989",
            measurementId: "G-RB2XT6BP9H"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);

        document.getElementById('loginForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const errorMessage = document.getElementById('errorMessage');

            signInWithEmailAndPassword(auth, email, password)
                .then((userCredential) => {
                    const user = userCredential.user;
                    return user.getIdToken();
                })
                .then((idToken) => {
                    return fetch('/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `idToken=${idToken}`
                    });
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = '/dashboard';
                    } else {
                        errorMessage.textContent = 'Login gagal: ' + data.error;
                    }
                })
                .catch((error) => {
                    errorMessage.textContent = 'Login error: ' + error.message;
                });
        });
    </script>
</body>
</html>